.sobre-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sobre-content {
    text-align: center;
}

.sobre-title {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

.sobre-message {
    font-size: 15px;
    color: white;
    margin-left: 80px;
    margin-right: 80px;
}
